/* This CSS is for CourseWiki structure */

/* main design id's and classes */

#header
{
  color: black;
  height: 51px;
  vertical-align: middle;
  text-align: left;
  padding: 10px 1em 0px 1em;
  }

#header #search-form
{
  float: right;
  text-align: right;
  vertical-align:top;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-top: 4px;
  }

#header #search-form input
{
  font-size: 9px;
  border: 1px solid #888;
  margin: 1px;
  }

#footer
{
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  clear: both;
  }

#container
{
  /* min-height: 300px; */
  width: 100%;
  }

#left-sidebar
{
  float: left;
  padding: 0px;
  
  width:132px;
  /* min-height: 300px; */
  
  vertical-align:top;
  font-family: Arial, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  }

#center-container
{
  margin-left: 132px;
  padding-left: 0px;
  }

#navigate-bar
{
  height: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 3px 5px 0px 5px;
  }

#navigate-bar .actions, #left-sidebar .actions
{
  font-size: 10px !important;
  font-weight: bold;
  float: right;
  text-align: right;
  padding-right: 1px;
  }

#main
{
  padding: .5em;
  min-height: 700px;
  }


/* content table */
table.content
{
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-width: 0px;
  padding: 0px;
  /* padding-left: 10px; */
  /* margin: 0px; */
  
}

table.border
{
  border-width: 1px;
  border-top-style: solid;
  border-left-style: solid;
  border-color: #9899AD;
  }
table.border td
{
  border-color: #9899AD;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  }
table.content th
{
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #A8A9BD;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 1px 4px 1px 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #D8D9ED #88899D #88899D #D8D9ED;
  border-spacing: 1px;
}

table.content th a:link    {color: #00a;text-decoration: none !important;}
table.content th a:visited {color: #00a;text-decoration: none !important;}
table.content th a:active  {color: #333333;text-decoration: underline !important;}
table.content th a:hover   {text-decoration: underline !important;}

table.content th.subheader
{
  background-color: #D8D9ED;
  font-size: 12px;
  padding: 1px 8px 1px 8px;
  border-style: solid;
  border-color: #E8E9FD #A8A9CD #A8A9CD #E8E9FD;
  }

table.content td
{
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  padding: 2px 7px 2px 7px ;
}

table.content tr.even td { background-color: #eaf0f8 !important }
table.content tr.odd  td { background-color: transparent !important; }
/* even vs. odd */
td.even
{
  background-color: #E5E5E5 !important;
}
td.odd
{
  background-color: transparent !important;
}

/* Table of content (TOC)*/

.toc{
  float:right;
  width:25em;
  font-family: Arial, sans-serif;
  font-size: 10px;
  background-color: #f2f2f2 !important;
  color: black;
  border: 1px solid #9899AD;
  margin: 1px 1px 1px 3px;
}
.toc h1,.toc h2,.toc h3,.toc h4,.toc h5{
  font-weight: normal;
  font-size: 12px;
}
.toc ul{
  list-style-type: none;
  list-style-image: none;
  margin: 0px 0px 0px 7px;
}


/* misc */

.rss-panel
{
  text-align: right;
  font-size: 10px;
  margin: .5em 0px .5em 0px;
  }

.broken-link{
  text-decoration: none;
  color: #999;
 }

/* section edit link */
.edit-section
{
  font-size: 10px;
  font-weight: normal !important;
  font-style: normal !important;
  padding-left: 0.5em;
  }

/* hack for mozilla */

* > .edit-section {
 visibility: hidden;
}

h1:hover .edit-section,h2:hover .edit-section,h3:hover .edit-section,
h4:hover .edit-section,h5:hover .edit-section,h6:hover .edit-section
{
  visibility: visible;
  }

/* latex div */
.latex
{
  border-color:  lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 2px 2px 2px 2px;
  margin: 6px 2px 6px 2px;
  text-align: center;
  font-weight: normal;
  }
.latex img { margin: 8px 2px 8px 2px; }

.latex,.latex legend
{
  border-color:  lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 2px 1em 2px 1em;
  text-align: center;
  font-weight: normal;
  font-family: Verdana, Times, Arial, sans-serif;
  }

img.tex { 
    margin: 0px;
    vertical-align: middle; 
}

/* search highlight */

.highlight
{
  background-color: #ff6 !important;
  color: #000 !important;
  }

/* programming code */

.code,.code legend
{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 2px;
  }

tt.code,code.code
{
  margin: 1px;
  padding: 0px 1px;
  white-space: nowrap;
  }

div.code {
  font-family: monospace;
  color: black;
  }

.hl-main,.hl-main *
{
  font-family: monospace !important;
  padding-left: 0px;
  }

/* secure block */

.secure
{
  border-style: dashed none;
  border-width: 1px;
  border-color: #d57272;
  margin: 1px 0px;
  padding: 1px 0px;
  }

/* info, tip, warning etc.*/

.info{
  margin-top: 1em;
  padding: 10px 5px 15px 45px;
  border-color: #90b07c;
  border-width: 5px 1px 1px 1px;
  border-style: solid;
  
  background: #d2ffb4 url(info.gif) no-repeat 3px center;

  font-size: 85%;
  font-style: normal;
}

.tip{
    margin-top: 1em;
    padding: 10px 5px 15px 45px;
    border-color: #b0c4de;
    border-width: 5px 1px 1px 1px;
    border-style: solid;
    
    background: #f0f8ff url(tip.gif) no-repeat 3px center;

    font-size: 85%;
    font-style: normal;
}

.warning{
  margin-top: 1em;
  padding: 10px 5px 15px 45px;
  border-color: #680000;
  border-width: 5px 1px 1px 1px;
  border-style: solid;
  
  background: #ffcccc url(warning.gif) no-repeat 3px center;

  font-size: 90%;
  font-style: normal;
}

/* wiki include */
.include{
  margin-top: 3px;
  border-color: #d5d5d5;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
}
.include .header{
  background-color: #e5e5e5;
  color: #999;
  text-align: right;
  font-size: 75%;
  font-style: normal;
}

/* slide show*/

.slideshow{
 border: 1px solid #999;
}

.slide {
}

.slide .title {
  font-size: 75%;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #999;
}

.slide .navigation{
  font-size: 1px;
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

/* class dependent css  */

/* questionnaire */
div.question
{
  padding: 8px;
  font-size: 16px;
  }

.chart-column
{
  background-color: #CCC;
  border-top: 4px solid #AAA;
  font-size: 10px;
}


.indent { margin-left: 15px; border-left: 1px dashed #eababa; }

/* message board */

.messageboard
{
  margin-bottom: 20px;
  border: 1px solid black;
  width: 90%;
  }

.messageboard .subject
{
  font-size: 18px;
  padding: 3px;
  }

.messageboard .date
{
  font-size: 14px;
  padding: 5px 5px 2px 5px;
  text-align: right;
  font-style: italic;
  }

.messageboard .body
{
  padding: 5px;
  }

/* forum/blog message */
.forum-message,.blog-comment
{
  border: 1px solid #bbb;
  margin: 4px 2px 4px 2px;
  -moz-border-radius-bottomright: 10px;
  }

.forum-message .subject,.blog-comment .subject
{
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 1px 5px;
  }

.forum-message .date,.blog-comment .date
{
  font-weight: normal;
  font-size: 12px;
  padding: 1px 5px;
  }

.forum-message .body,.blog-comment .body
{
  padding: 10px;
  }

.forum-message .actions,.blog-comment .actions
{
  padding: 0px 5px;
  text-align: left;
  font-size: 12px;
  }

.tags-list,.blog-header
{
  color: #999;
  }

.tags-list a,.blog-header a,.tags-list a:link,.blog-header a:link,.tags-list a:visited,.blog-header a:visited
{
  color: #66f;
  }


/* schedule */

.schedule,.schedule legend
{
  border: 1px solid gray;
  padding: 2px 0px 2px 0.5em;
  }

.schedule .groups
{
  padding-left: 15px;
  }


/* Workflow */

.workflow
{

  }

.workflow .separator
{
  text-align: center;
  font-size: 3em;
  margin: 3px;
  }

.workflow table.group
{
  margin: 1px auto;
  border: 1px solid #aaa;
  border-collapse: collapse;
  padding: 0px;
  }

.workflow table.group th
{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #888;
  }

.workflow table.group td
{
  vertical-align: top;
  padding: 1px 3px;
  border-right: 1px solid #aaa;
  }

.workflow table.task
{
  margin: 2px;
  float: left;
  border: 1px solid #aaa;
  border-collapse: collapse;
  }

.workflow table.task td
{
  border-bottom: 1px solid #aaa;
  }

.workflow .task-name
{
  font-size: 1em;
  /* text-align: center; */
  font-weight: bold;
  }

.workflow .task-text
{
  padding: .5em;
  border: 1px solid #888;
  color: black;
  background-color: white;
  }

.workflow .task-assigned
{
  font-size: 12px;
  color: #555;
  }


.workflow .task-date
{
  font-size: 10px;
  color: #888;
  }

.workflow .not-completed
{
  background-color: #FFD6D6;
  }

.workflow .completed
{
  background-color: #EFFFD1;
  }

.workflow .optional
{
  background-color: #E5D6FF;
  }

/** Calendar */

.event{
  padding-bottom: 1em;
}
.event .title {
  font-size: 1.25em;
  font-weight: normal;
}
.upcoming-event .title,.upcoming-event .property, table.calendar-grid tr td.upcoming {
  background: #e1edcd;
}
.upcoming-event .title:first-child:after {
  content: 'UPCOMING';
  vertical-align: super;
  font-size: 0.5em;
  text-decoration: blink;
}
.event .property {
  font-size: 1.1em;
  font-weight: normal;
}
.event .body{
  padding-bottom: 1em;
}
.event .body *{
  font-size: 0.85em;
}

.calendar-grid .day {
  font-size: 16px;
  font-weight: bold;
}
table.calendar-grid{
  border-collapse: collapse;
}
table.calendar-grid tr th {
  text-align: center;
}
table.calendar-grid tr td {
  padding: 2px;
  font-size: 9px;
  height: 100px;
  border: 1px solid #ddd; 
  vertical-align: top;
}
table.calendar-grid tr td.today {
  border: 3px dashed #aad; 
}
